<footer class="gdoc-footer">
  <div class="container flex">
    <div class="flex flex-wrap">
      <span class="gdoc-footer__item gdoc-footer__item--row">
        Généré par <a href="https://gohugo.io/" class="gdoc-footer__link">Hugo</a> avec
        <svg class="icon gdoc_heart"><use xlink:href="#gdoc_heart"></use></svg>
      </span>
      <span class="gdoc-footer__item gdoc-footer__item--row">
        <a rel="me" class="gdoc-footer__link" href="https://framapiaf.org/@mose">mose sur Mastodon</a>
      </span>
      
      {{ with .Site.Params.GeekdocLegalNotice }}
        <span class="gdoc-footer__item gdoc-footer__item--row">
          <a href="{{ . | relURL }}" class="gdoc-footer__link">Mentions légales</a>
        </span>
      {{ end }}
      {{ with .Site.Params.GeekdocPrivacyPolicy }}
        <span class="gdoc-footer__item gdoc-footer__item--row">
          <a href="{{ . | relURL }}" class="gdoc-footer__link">Vie privéer</a>
        </span>
      {{ end }}
    </div>
    {{ if (default true .Site.Params.GeekdocBackToTop) }}
      <div class="flex flex-25 justify-end">
        <span class="gdoc-footer__item text-right">
          <a class="gdoc-footer__link fake-link" href="#" aria-label="Back to top">
            <svg class="icon gdoc_keyborad_arrow_up">
              <use xlink:href="#gdoc_keyborad_arrow_up"></use>
            </svg>
            <span class="hidden-mobile">Retour en haut</span>
          </a>
        </span>
      </div>
    {{ end }}
  </div>
</footer>
